addict==2.4.0
basicsr==1.4.2
cityscapesscripts==2.2.1
decord==0.6.0
diffusers==0.14.0
einops==0.6.0
gradio==3.23.0
imageio==2.9.0
lmdb==1.4.0
matplotlib==3.7.1
mc==0.0
numpy==1.24.2
onnx==1.13.1
opencv_contrib_python==4.7.0.72
packaging==23.0
parrots==0.1.7
Pillow==9.4.0
prettytable==3.6.0
pytorch_lightning==1.5.0
PyYAML==6.0
regex==2022.10.31
scikit_image==0.19.3
scipy==1.10.1
skimage==0.0
tensorboardX==2.6
tifffile==2023.3.21
timm==0.6.12
torch==1.13.1+cu116
torch_tb_profiler==0.4.1
torchvision==0.14.1+cu116
tqdm==4.65.0
transformers==4.26.0
yapf==0.32.0
